Package: com.mikey820.groupchatnamefix
Name: GroupChatNameFix
Version: 5.2.0
Architecture: iphoneos-arm
Description: Fix iOS 6 group iMessages splitting into a new conversation after a newer-iOS device renames the group
Maintainer: mikey820
Author: mikey820
Section: Tweaks
Depends: mobilesubstrate
